@dark-grey: #333333;
@off-white: #F2F2F2;

/***********************
        MOBILE 
***********************/

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

img {
  width: 100%;
}

#page-body.three-col, #page-body.no-sidebar {
  background: transparent;
}

html {
  
  body {
    color: @dark-grey;
    // background-color: @dark-grey;
    background: repeating-linear-gradient(
      45deg, 
      @dark-grey 0%,
      @dark-grey 30%,
      darken(@dark-grey, 5%) 30%,
      darken(@dark-grey, 5%) 50%
    );
    
    div#root {
      
      div {
        text-align: center;
        
        h2, h3 {
          color: @off-white;
          font-size: 1.8em;
        }
        h2 {
          margin: 40px 0;
          font-size: 2.5em;  
        }
        
        div {
          
          &.survey_list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            justify-content: center;
            gap: 20px;
            margin: 0 10px 30px 10px;
            max-width: 1160px;

            & > * {
              border: 1px solid #CCC;
              padding: 20px;
              border-radius: 10px;
              flex-shrink: 1;
            }      
          }
      
          &#image_carousel {
            
            div {
              
              &#image_container {
                position: relative;
                
                img {
                  
                }
                
                p {
              
                  &#count_display {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    color: white;
                    background-color: rgba(0, 0, 0, .7);
                    padding: 5px;
                    border-radius: 5px;
                    line-height: 1;
                  }
                }
              }
            }
            
            img {
              
              &.arrow {
                width: auto;
                position: absolute;
                top: calc(50% - 32px);
                transition: opacity .3s ease-in;
                
                &:hover {
                  opacity: 1;
                  cursor: pointer;
                }
              }

              &#left_arrow {
                left: 5%;
              }

              &#right_arrow {
                right: 5%;
              }
            }
          }
            
          div{

            &.survey {
              background-color: @off-white;
              
              h3 {
                color: @dark-grey;
                font-size: 1.7em;
                margin-bottom: 10px; 
              }
              
              div {
              
                &.questionnaire_list {

                  div {

                    &.questionnaire {
                      
                      text-align: center;
                      
                      a {
                        text-decoration: none;
                        border: 1px solid #CCC;
                        padding: 10px;
                        display: inline-block;
                        margin: 10px;
                        border-radius: 5px;
                        color: @dark-grey;
                        transition: transform .3s;

                        &:visited {
                          color: @dark-grey;
                        }

                        &:hover {
                          transform: scale(1.1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    footer {
      
      h2 {
        margin: 40px 0 10px 0;
      }
    }
  }
}

/***********************
        MIN-WIDTH 500PX
***********************/

@media screen and (min-width: 500px) {
    html body div#root div div.survey_list {
      margin: 0 auto 30px auto;
      width: 80%;
    }
}

/***********************
        MIN-WIDTH 700PX
***********************/

@media screen and (min-width: 700px) {
  
  h1, h2, h3, h4, h5, h6 {

  }

  img {

  }

  html {

    body {

      div#root {

        div {

          h2 {

          }

          div {

            &.survey_list {

            }

            &#image_carousel {
              text-align: center;
              position: relative;
              margin: 0 auto;

              div {

                &#image_container {
                  display: inline-block;

                  img {
                    border-radius: 5px;
                  }

                  p {

                    &#count_display {
                      
                    }
                  }
                }
              }

              img {

                &.arrow {
                  width: auto;
                  position: absolute;
                  display: block;
                }

                &#left_arrow {
 
                }

                &#right_arrow {

                }
              }
            }

            div{

              &.survey {
                
                h3 {
 
                }

                div {

                  &.questionnaire_list {

                    div {

                      &.questionnaire {

                        a {

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      footer {

        h2 {
          margin: 40px 0 10px 0;
        }
      }
    }
  }
}

/***********************
        MIN-WIDTH 800PX
***********************/

@media screen and (min-width: 800px) {
  html body div#root div h2 {
    margin: 60px 40px 80px;
    font-size: 4em;
  }
}

/***********************
        MIN-WIDTH 1000PX
***********************/

@media screen and (min-width: 1000px) {
  
  h1, h2, h3, h4, h5, h6 {

  }

  img {

  }

  html {

    body {

      div#root {

        div {

          h2 {

          }

          div {

            &.survey_list {

            }

            &#image_carousel {

              div {

                &#image_container {

                  img {

                  }

                  p {

                    &#count_display {

                    }
                  }
                }
              }

              img {

                &.arrow {

                }

                &#left_arrow {

                }

                &#right_arrow {
 
                }
              }
            }

            div{

              &.survey {
                
                h3 {
 
                }

                div {

                  &.questionnaire_list {

                    div {

                      &.questionnaire {

                        a {

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      footer {

        h2 {
          margin: 40px 0 10px 0;
        }
      }
    }
  }
}

/***********************
        MIN-WIDTH 1800PX
***********************/

@media screen and (min-width: 1800px) {
  
  h1, h2, h3, h4, h5, h6 {

  }

  img {

  }

  html {

    body {

      div#root {

        div {

          h2 {

          }

          div {

            &.survey_list {

            }

            &#image_carousel {

              div {

                &#image_container {

                  img {

                  }

                  p {

                    &#count_display {

                    }
                  }
                }
              }

              img {

                &.arrow {

                }

                &#left_arrow {

                }

                &#right_arrow {
 
                }
              }
            }

            div{

              &.survey {
                
                h3 {
 
                }

                div {

                  &.questionnaire_list {

                    div {

                      &.questionnaire {

                        a {

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      footer {

        h2 {

        }
      }
    }
  }
}

/***********************
        MIN-WIDTH 2200PX
***********************/

@media screen and (min-width: 2200px) {
  
  h1, h2, h3, h4, h5, h6 {

  }

  img {

  }

  html {

    body {

      div#root {

        div {

          h2 {

          }

          div {

            &.survey_list {

            }

            &#image_carousel {

              div {

                &#image_container {

                  img {

                  }

                  p {

                    &#count_display {

                    }
                  }
                }
              }

              img {

                &.arrow {

                }

                &#left_arrow {

                }

                &#right_arrow {
 
                }
              }
            }

            div{

              &.survey {
                
                h3 {
 
                }

                div {

                  &.questionnaire_list {

                    div {

                      &.questionnaire {

                        a {

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      footer {

        h2 {

        }
      }
    }
  }
}